<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h2>Hello, <%= current_user.username %>!</h2>

<br />
<div class="crud">
  <div class="navi">
    <ul>
      <li><a href="/cornucopias/new">Create a New Cornucopia</a></li>
    </ul>
  </div>
  <br>
  <br>

  <h3>Here are all the cornucopias:</h3>
  <br>

  <% @cornucopias.each do |cornucopia| %>
    <ul>
      <div class="navi">
        <li><h4><a href="/cornucopias/<%=cornucopia.id%>"><%= cornucopia.name %></a></h4></li><br />
        user id: &nbsp <%= cornucopia.user.username %><br />
        <% if cornucopia.user.id == current_user.id %><br />
        <em>this one belongs to you!</em><br />
        <p>(that means you can mess with it.)</p>
          edit &nbsp <a href="/cornucopias/<%=cornucopia.id%>/edit"><%= cornucopia.name %></a> |&nbsp;<a href="/items/new">stuff something in <%= cornucopia.name %></a>
        <% end %>
    </ul>
    <% end %>
  </div>
</div>
