<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h3><%= @cornucopia.name %></h3>

  <h4>Items:</h4>
  <% @cornucopia.items.each do |item| %>
    <ul>
      <li><h5><a href="/items/<%=item.id%>"><%= item.name %></a></h5></li>
    </ul>
  <% end %>

  <a href="/cornucopias/<%=@cornucopia.id%>/edit">Edit Cornucopia</a> |
  <a href="/items/new">Add Item</a>
